@tailwind base;
@tailwind components;
@tailwind utilities;


.modal {
	transition: all 0.3s cubic-bezier(.18,.89,.32,1.28);
}
.modal.active {
  transform: translateY(0%)
}
.sroll-width {
  scrollbar-width: thin;
}

.category.active #category {
  background: #ebeef2;
}
.category.active .sub_category {
  display: block !important;
}

.categoryDiv {
  transition: all 0.3s;
}

.categoryDiv.active {
  transform: translateX(0%);
}

.settingDiv {
  transition: all 0.3s;
}
.settingDiv.active {
  transform: translateX(0%);
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
